body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Unna", serif;
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

.landing-page-section {
  width: fit-content;
  text-align: center;
  display: grid;
  grid-gap: 3rem;
  padding: 2rem;
}

.landing-page-section .title {
  font-size: 10rem;
  max-width: min-content;
  margin: auto;
  line-height: 7rem;
}

.landing-page-section .description {
  font-size: 1.6rem;
  border-top: 0.1rem solid #000000;
  padding-top: 1rem;
}

.page-nav {
  display: flex;
  grid-gap: 1rem;
  justify-content: center;
}

.page-nav .material-icons {
  font-size: 1.5rem;
}

.page-nav .nav-link {
  color: #000000;
}

.page-nav .nav-link:hover {
  color: midnightblue !important;
}
