body {
  font-family: 'Oswald', sans-serif;
  background-color: #3aafa9;
}

.landing-page-section {
  padding: 200px 0px;
  position: relative;
}

.logo-container {
  color: #feffff;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.logo-container:hover {
  color: #def2f1
}


.logo-text {
  margin: 0;
}

.qoute-container {
  margin: auto;
  max-width: 350px;
  display: block;
  cursor: pointer;

}

.quote-logo {
  color: #2b7a78;
  display: block;
  font-weight: bolder;
  font-size: 60px;
  font-family: arial;
}

.-big {
  font-size: 110px;
  font-weight: bold;
  line-height: 100px;
}

.-bright {
  color: #feffff;
}

.-bright:hover {
  color: #def2f1
}


.quote-text {
  display: block;
}

.-dark {
  color: #17252a;
}

.-dark:hover {
  color: #2b7a78;
}


.-small {
  font-size: 28px;
}

.instagram-container {
  position: absolute;
  top: 0;
  right: 0;
}

.instagram-link {
  color: #17252a;
  font-weight: bold;
  text-decoration: none;
}

.instagram-link:hover {
  color: #2b7a78;
}



